@font-face {
    font-family: 'LXGW WenKai';
    src: url('./LXGWWenKai-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LXGW WenKai';
    src: url('./LXGWWenKai-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LXGW WenKai';
    src: url('./LXGWWenKai-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
